body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(30, 27, 32);
    text-align: center;
    margin: 0;
    padding: 0;
}

.cabecera {
    background-color: #33a;
    
    color: white;
    margin: 0;
    padding: 0.5em;
    font-size: 30px;
    box-shadow: 0 4px 8px 0 black;
}

.post {
    padding: 1em;
}

.container {
    width: 70%;
    padding-top: 0;
    text-align: left;
    border: 1px solid #ddd;
    margin: auto;
}

.container h1 {
    font-size: 30px;
}

.container p {
    font-size: 20px;
}